@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");
@font-face {
  font-family: "GothicRound";
  src: url("/fonts/HWT-Gothic-Round.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body * {
  font-family: "Poppins", sans-serif;
  color: inherit;
  background-color: inherit;
}

li {
  list-style: none;
  color: #000;
}

a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: auto;
  height: 400px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 600px) {
  .image {
    width: auto;
    height: 350px;
  }
}
.slider-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 3px 3px 5px rgb(33, 33, 33);
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  background-color: transparent;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  background-color: transparent;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 700px) {
  .right-arrow {
    right: 50px;
  }

  .left-arrow {
    left: 50px;
  }
}
.slide {
  opacity: 0;
  transition-duration: 0.5s ease-in;
}
.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.1);
}
