@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");
@font-face {
  font-family: "GothicRound";
  src: url("/fonts/HWT-Gothic-Round.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body * {
  font-family: "Poppins", sans-serif;
  color: inherit;
  background-color: inherit;
}

li {
  list-style: none;
  color: #000;
}

a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: none;
}
