.main {
  margin: 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  font-family: "GothicRound";
  color: #7aa850;
}
.subtitle {
  line-height: 1.15;
  font-size: 2rem;
  font-family: "GothicRound";
  color: #7aa850;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  color: #000;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  height: 27rem;
  background-color: rgba(26, 25, 44);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h3 {
  border-radius: 10px;
  background-color: rgba(77, 159, 175);
  color: #fff;
  padding: 5px;
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 1rem;
  color: #fff;
}

.logo {
  height: 1em;
}
.fbIcon {
  font-size: 50px;
  color: rgb(59, 89, 152);
}
.fbIcon:hover {
  color: rgb(14, 51, 131);
}
.igIcon {
  font-size: 50px;
  color: rgb(195, 42, 163);
}
.igIcon:hover {
  color: rgb(172, 36, 143);
}
.twIcon {
  font-size: 50px;
  color: rgb(28, 160, 242);
}
.twIcon:hover {
  font-size: 50px;
  color: rgb(20, 105, 159);
}

/* .soc {
  display: inline-block;
  margin: 5px;
  transition: background-image 0.2s;
} */

@media (max-width: 1050px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    margin: 10px;
    font-size: 3rem;
    font-family: "GothicRound";
  }
}
@media (max-width: 785px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    margin: 10px;
    font-size: 1.8rem;
    font-family: "GothicRound";
  }
}
